/* Estilo base */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000; 
  color: #fff;            
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

/* Encabezado y título */
header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #FFD700; 
  font-size: 2.5em;
  letter-spacing: 2px;
}

/* Menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #111;
  padding: 10px 0;
  margin: 0;
  gap: 30px;
}
.banner-logo {
  width: auto;
  max-height: 120px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  background-color: black;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.activo {
  color: #FFD700; 
}

/* Secciones principales */
main {
  flex: 1;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #FFD700;
  margin-bottom: 10px;
}

/* Galería de productos */
.galeria {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.galeria img {
  width: 275px;
  border: 2px solid #FFD700;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}
form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

form input, form textarea {
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 80px;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: middle; 
  margin-right: 5px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 15px;
}

.checkbox-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #c89b3c;
  cursor: pointer;
}

.checkbox-container label {
  font-size: 1rem;
  cursor: pointer;
}

form button {
  width: fit-content;
  background-color: #FFD700;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
}

form button:hover {
  background-color: #e5c100;
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}

footer img {
  width: 30px;
  margin: 0 10px;
  vertical-align: middle;
}