<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
      <header>
    <h1>PmHour</h1>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="productos.html" class="activo">Productos</a></li>
        <li><a href="presupuestos.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Galería de Productos</h2>
    <div class="galeria">
      <img src="../imagenes/Reloj1.webp" alt="Reloj 1" width="280" height="350">
      <img src="../imagenes/Reloj2.jpg" alt="Reloj 2" width="280" height="350">
      <img src="../imagenes/Reloj3.webp" alt="Reloj 3" width="280" height="350">
      <img src="../imagenes/Reloj4.webp" alt="Reloj 4" width="280" height="350">
      <img src="../imagenes/Reloj5.webp" alt="Reloj 5" width="280" height="350">
      <img src="../imagenes/Reloj6.webp" alt="Reloj 6" width="280" height="350">
    </div>
  </main>

  <footer>
    <p>Dirección | Aviso legal</p>
    <a href="https://www.facebook.com/"><img src="../imagenes/FAcebook.jpg" alt="Facebook"></a>
    <a href="https://www.instagram.com/"><img src="../imagenes/Instagram.jpg" alt="Instagram"></a>
  </footer>
</body>
</html>